html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

h2 {
  font-size: 40px;
  color: #f8c600; }

body header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: .3s linear; }
  body header .block_header_inner {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    body header .block_header_inner .logo {
      width: 44px;
      height: 32px;
      border-radius: 50%;
      background-size: cover; }
    body header .block_header_inner nav {
      display: flex;
      align-items: center; }
      body header .block_header_inner nav .menu-toggler {
        background: none;
        width: 30px;
        border: none;
        cursor: pointer;
        position: relative;
        outline: none;
        z-index: 100;
        display: none; }
        body header .block_header_inner nav .menu-toggler span {
          display: block;
          height: 3px;
          background-color: #fff;
          margin: 6px 0;
          position: relative;
          transition: .3s linear; }
      body header .block_header_inner nav ul {
        display: flex; }
        body header .block_header_inner nav ul li {
          list-style: none; }
          body header .block_header_inner nav ul li a.main_menu {
            color: white;
            text-decoration: none;
            margin-left: 30px;
            font-size: 20px;
            transition: .2s linear; }
            body header .block_header_inner nav ul li a.main_menu:hover {
              color: #f8c600; }
            body header .block_header_inner nav ul li a.main_menu i {
              margin-right: 5px; }
          body header .block_header_inner nav ul li a.black {
            color: black; }
body .block_home {
  background: url("./../img/bg.png") no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-top: 55px; }
  body .block_home .block_home_inner {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center; }
    body .block_home .block_home_inner h1 {
      color: #f8c600;
      font-size: 60px;
      text-align: center; }
    body .block_home .block_home_inner h2 {
      font-size: 35px; }
    body .block_home .block_home_inner .block_home_contact {
      margin-top: 25px;
      text-align: center; }
      body .block_home .block_home_inner .block_home_contact button {
        padding: 15px 35px;
        border: 2px solid #f8c600;
        border-radius: 5px;
        background: transparent;
        cursor: pointer;
        color: white;
        transition: all 0.2s linear;
        font-size: 20px; }
        body .block_home .block_home_inner .block_home_contact button:focus {
          outline: none; }
        body .block_home .block_home_inner .block_home_contact button:hover {
          background: #f8c600;
          color: black;
          box-shadow: 0px 0px 8px 3px #f8c600;
          border: 2px solid black; }
body .block_about {
  background-color: #2a2a2a;
  padding: 50px 0; }
  body .block_about .block_about_inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .block_about .block_about_inner .block_about_description {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: 60px 20px;
      align-items: center; }
      body .block_about .block_about_inner .block_about_description img {
        margin-right: 25px;
        width: 165px;
        border-radius: 10px; }
      body .block_about .block_about_inner .block_about_description p {
        text-align: center;
        font-size: 25px;
        line-height: 1.5;
        color: #f2f1f2; }
    body .block_about .block_about_inner .block_about_skills {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%; }
      body .block_about .block_about_inner .block_about_skills .skill {
        width: 50%;
        padding: 10px 40px; }
        body .block_about .block_about_inner .block_about_skills .skill .skill_name {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 20px 0; }
        body .block_about .block_about_inner .block_about_skills .skill .skill_bar {
          height: 15px;
          background: #cacaca;
          border-radius: 8px; }
          body .block_about .block_about_inner .block_about_skills .skill .skill_bar .skill_per {
            height: 15px;
            background-color: #02aefe;
            border-radius: 8px;
            width: 0;
            transition: 1s linear;
            position: relative; }
            body .block_about .block_about_inner .block_about_skills .skill .skill_bar .skill_per:before {
              content: attr(per);
              position: absolute;
              padding: 4px 6px;
              background-color: black;
              color: white;
              font-size: 12px;
              border-radius: 4px;
              top: -35px;
              right: 0;
              transform: translateX(50%); }
            body .block_about .block_about_inner .block_about_skills .skill .skill_bar .skill_per:after {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: black;
              top: -19px;
              right: 0;
              transform: translateX(50%) rotate(45deg);
              border-radius: 2px; }
body .block_howToWork {
  padding: 50px 0;
  background: url("./../img/bgoil-min.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  body .block_howToWork .block_howToWork_inner {
    max-width: 1300px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .block_howToWork .block_howToWork_inner h2 {
      display: block;
      padding: 10px 100px;
      transition: all 0.2s linear; }
    body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience {
      padding: 10px 0;
      display: flex; }
      body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience .block_howToWork_inner_education_experience_work {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience .block_howToWork_inner_education_experience_work .block_work {
          padding: 20px;
          margin: 20px 25px 0 0;
          border-radius: 10px; }
          body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience .block_howToWork_inner_education_experience_work .block_work h3 {
            text-align: center;
            color: black;
            font-size: 30px;
            margin: 20px 0; }
          body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience .block_howToWork_inner_education_experience_work .block_work p {
            color: black;
            font-size: 20px; }
            body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience .block_howToWork_inner_education_experience_work .block_work p i {
              margin-right: 10px; }
      body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience .block_howToWork_inner_education_experience_experience {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
body .block_dop_info {
  background-color: #2a2a2a;
  padding: 50px 0; }
  body .block_dop_info .block_dop_info_inner {
    max-width: 1300px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .block_dop_info .block_dop_info_inner .block_dop_info_inner_text h4 {
      margin-top: 15px;
      font-size: 30px;
      line-height: 1.5;
      color: #f8c600; }
    body .block_dop_info .block_dop_info_inner .block_dop_info_inner_text p {
      font-size: 25px;
      line-height: 1.5;
      color: #f2f1f2; }
body .block_contact {
  padding: 50px 0;
  background: #363a4a; }
  body .block_contact .block_contact_inner {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; }
    body .block_contact .block_contact_inner h2 {
      display: block;
      padding: 10px 100px;
      border-radius: 15px;
      transition: all 0.2s linear; }
    body .block_contact .block_contact_inner .block_contact_inner_contact_me {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 35px; }
      body .block_contact .block_contact_inner .block_contact_inner_contact_me a {
        text-decoration: none;
        width: calc(80% / 4);
        color: #f8c600;
        padding: 25px;
        border: 2px solid #f8c600;
        border-radius: 10px;
        text-align: center;
        font-size: 20px;
        transition: all 0.2s linear; }
        body .block_contact .block_contact_inner .block_contact_inner_contact_me a:hover {
          background: #f8c600;
          color: black;
          border: 2px solid black;
          box-shadow: 0px 0px 8px 3px #f8c600; }
          body .block_contact .block_contact_inner .block_contact_inner_contact_me a:hover i {
            color: black; }
        body .block_contact .block_contact_inner .block_contact_inner_contact_me a i {
          display: block;
          margin-bottom: 25px;
          font-size: 50px;
          color: #f8c600;
          transition: color 0.5s linear; }
body .form {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000000bd;
  padding: 50px 10px;
  z-index: 2; }
  body .form .close_form {
    display: block;
    position: fixed;
    right: 20px;
    top: 10px;
    cursor: pointer; }
    body .form .close_form span {
      display: block;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      position: relative;
      transition: .3s linear;
      width: 30px; }
      body .form .close_form span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px; }
      body .form .close_form span:nth-child(2) {
        opacity: 0; }
      body .form .close_form span:nth-child(3) {
        transform: rotate(45deg);
        top: -14px; }
  body .form .form_inner {
    background-color: #f2f1f2;
    border-radius: 10px;
    margin: 0 auto;
    width: 400px;
    padding: 50px 25px;
    text-align: center; }
    body .form .form_inner p {
      margin-bottom: 25px; }
    body .form .form_inner form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      body .form .form_inner form input {
        margin-bottom: 25px;
        width: 100%;
        height: 45px;
        text-align: center;
        font-size: 20px;
        border: 2px solid #353b48;
        border-radius: 5px; }
      body .form .form_inner form textarea {
        width: 100%;
        resize: vertical;
        height: 100px;
        font-size: 15px;
        text-align: center;
        border: 2px solid #353b48;
        border-radius: 5px;
        margin-bottom: 25px; }
      body .form .form_inner form input[type='submit'] {
        background-color: #f8c600;
        position: relative;
        box-shadow: 2px 3px 0 0 black; }
        body .form .form_inner form input[type='submit']:hover {
          cursor: pointer; }
        body .form .form_inner form input[type='submit']:active {
          top: 2px;
          box-shadow: 1px 1px 0 0 black; }
        body .form .form_inner form input[type='submit']:focus {
          outline: none; }
  body .form.active {
    display: block; }

@media screen and (max-width: 950px) {
  body header .block_header_inner nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
    flex-direction: column;
    align-items: flex-start; }
    body header .block_header_inner nav .menu-toggler {
      display: block;
      position: fixed;
      right: 20px;
      top: 10px; }
    body header .block_header_inner nav .active span:nth-child(1) {
      transform: rotate(-45deg);
      top: 4px; }
    body header .block_header_inner nav .active span:nth-child(2) {
      opacity: 0; }
    body header .block_header_inner nav .active span:nth-child(3) {
      transform: rotate(45deg);
      top: -14px; }
    body header .block_header_inner nav ul {
      flex-direction: column; }
      body header .block_header_inner nav ul li a.main_menu {
        display: block;
        font-size: 30px;
        margin: 30px 0; }
  body header .block_header_inner nav.min {
    background-color: #f2f1f2; }
    body header .block_header_inner nav.min button span {
      background-color: black; }
  body header .block_header_inner nav.active {
    right: 0; }
  body .block_home .block_home_inner .block_home_contact {
    width: 70%; }
    body .block_home .block_home_inner .block_home_contact button {
      font-size: 30px; }
  body .block_about {
    padding: 30px 0; }
    body .block_about .block_about_inner .block_about_description {
      flex-direction: column; }
      body .block_about .block_about_inner .block_about_description p {
        margin-top: 20px; }
  body .block_howToWork {
    padding: 30px 0; }
  body .block_works {
    padding: 30px 0 0; }
    body .block_works .block_works_inner .block_works_inner_slider {
      height: 650px; }
  body .block_contact {
    padding: 30px 0; } }
@media screen and (max-width: 760px) {
  body header .block_header_inner nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
    flex-direction: column;
    align-items: flex-start; }
    body header .block_header_inner nav .menu-toggler {
      display: block;
      position: fixed;
      right: 20px;
      top: 10px; }
    body header .block_header_inner nav .active span:nth-child(1) {
      transform: rotate(-45deg);
      top: 4px; }
    body header .block_header_inner nav .active span:nth-child(2) {
      opacity: 0; }
    body header .block_header_inner nav .active span:nth-child(3) {
      transform: rotate(45deg);
      top: -14px; }
    body header .block_header_inner nav ul {
      flex-direction: column; }
      body header .block_header_inner nav ul li a.main_menu {
        display: block;
        font-size: 30px;
        margin: 30px 0; }
  body header .block_header_inner nav.min {
    background-color: #f2f1f2; }
    body header .block_header_inner nav.min button span {
      background-color: black; }
  body header .block_header_inner nav.active {
    right: 0; }
  body .block_home .block_home_inner .block_home_contact {
    flex-direction: column; }
    body .block_home .block_home_inner .block_home_contact button:nth-child(2) {
      margin-top: 40px; } }
@media screen and (max-width: 690px) {
  body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience {
    flex-direction: column; }
    body .block_howToWork .block_howToWork_inner .block_howToWork_inner_education_experience .block_howToWork_inner_education_experience_work .block_work {
      margin: 10px 0 0 0; }
  body .block_contact .block_contact_inner .block_contact_inner_contact_me a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px; }
    body .block_contact .block_contact_inner .block_contact_inner_contact_me a i {
      margin-bottom: 10px; } }
@media screen and (max-width: 580px) {
  body .block_home .block_home_inner {
    text-align: center; }
  body .block_about .block_about_inner h2 {
    width: 100%;
    text-align: center;
    padding: 10px 0; }
  body .block_about .block_about_inner .block_about_skills {
    flex-direction: column; }
    body .block_about .block_about_inner .block_about_skills .skill {
      width: 100%; }
      body .block_about .block_about_inner .block_about_skills .skill .skill_name {
        margin: 5px 0; }
  body .block_howToWork .block_howToWork_inner h2 {
    width: 100%;
    text-align: center;
    padding: 10px 0; } }
@media screen and (max-width: 545px) {
  body .block_about .block_about_inner .block_about_skills .skill {
    padding: 10px 0; }
  body .block_contact .block_contact_inner .block_contact_inner_contact_me {
    flex-direction: column; }
    body .block_contact .block_contact_inner .block_contact_inner_contact_me a {
      width: 100%;
      margin-top: 20px;
      flex-direction: unset;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px; }
      body .block_contact .block_contact_inner .block_contact_inner_contact_me a i {
        margin: 0; } }
@media screen and (max-height: 550px) {
  body header .block_header_inner nav.active {
    padding: 0 50px; } }
@media screen and (max-height: 460px) {
  body header .block_header_inner nav.active {
    padding: 0 50px; }
    body header .block_header_inner nav.active ul li a {
      margin: 20px 0; } }

/*# sourceMappingURL=style.css.map */
